_1_cli/target/*
_2_todo/target/*
_3_countries_data/target/*
_4_fetch_news/target/*
_5_bst/target/*
_6_trie/target/*
_7_tic_tac_toe/target/*
_8_lru_cache/target/*
_9_SOLID/_[0-9]*/target/*
_13_*/target/*
//tut
//tut/_[0-9]+_[a-zA-Z]*/target/*
//tut/_1_sqlite_example/target/*
tut/_[0-9]*/target/*
tut/_8_read_csv/yellow_tripdata_2021-01.csv

